.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

.filtered-items-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Automatically fit items with a minimum width of 200px */
  gap: 20px; /* Gap between items */
}

.item {
  padding: 10px; /* Padding for each item */
  color: whitesmoke;
  -webkit-text-stroke: 1px black; 
}

/* CSS for flipping animation */
.flip-card-container {
  perspective: 1000px;
}

.flip-card {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover {
  cursor: pointer;
}

.flip-card-inner {
  transform-style: preserve-3d;
}

.flipped .flip-card-inner {
  width: 100%;
  height: 200px;
  transform: rotateY(180deg);
}

.flip-card-front{
width: 100%;
height: 400px;
}

.flip-card-back{
  width: 100%;
  height: 600px;
}

.flip-card-front,
.flip-card-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  z-index: 1;
}

.flip-card-back {
  transform: rotateY(180deg);
  z-index: 0;
}


a:visited {
  color: yellow;
}


body {
  background-color: #01084f;
  font-family: "Onick";
  color: whitesmoke;
}

/* importing the onick font */
@font-face {
  font-family: "Onick";   
  src: local("onick.regular"),
    url("./components/onick.regular.otf") format("opentype");
}

.h2-menu {
  color: whitesmoke;
  -webkit-text-stroke: 1px black; 
}

.Menu p {
  font-family: Arial, Helvetica, sans-serif;
}

.Home p {
  font-family: Arial, Helvetica, sans-serif;
}

.card-text {
  font-family: 'Courier New', Courier, monospace
}

@font-face {
  font-family: "Ferro";   
  src: local("ferro-rosso-regular"),
    url("./components/ferro-rosso.regular.ttf") format("truetype");
}

/* creating a neon effect via a series of text shadows */
.neonText {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
    animation: flicker 1.5s infinite alternate;
}

/* using keyframes to add a flicker effect */
@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
  }
  20%, 24%, 55% {       
    text-shadow: none;
  }
}

.App-header {
  margin-bottom: 20px;
  font-size: 24px;
}

.menu-header {
  text-align: center;
  margin-top: 50px; /* Adjust as needed */
}

.menu-nav-link {
  border: 1px solid black;
  margin: 5px;
  padding: 10px;
  border-radius: 20px;
  width: 150px;
  align-items: center;
  text-align: center;
  -webkit-text-stroke: 1px black; 
  color: whitesmoke;
  background-color: #ff6ec7;
}

Nav.Link {
color: antiquewhite;
}

.menu-nav-link:hover {
  background-color: grey;
  color: whitesmoke;
}

.nav-link:hover {
  text-decoration: underline;
}

#comp-img{
  width: 250px;
}

.menu-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.card {
  min-height: 100%;
}

.menu {
  margin-bottom: 75px;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

header {
  text-align: center;
}

main {
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
}

.specials {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.special-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
}

.about-us,
.contact {
  margin-bottom: 30px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}

/* footer */
.social-icons a {
  color: #fff;
  font-size: 24px;
}

.social-icons a:hover {
  color: #ccc;
}



/* Add more styling for other elements if needed */
