.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

.App-header {
  margin-bottom: 20px;
  font-size: 24px;
}

.menu-header {
  text-align: center;
  margin-top: 50px; /* Adjust as needed */
}

.menu-nav-link {
  border: 1px solid black;
  margin: 5px;
  padding: 10px;
  border-radius: 20px;
  width: 150px;
  align-items: center;
  text-align: center;
}

.menu-nav-link:hover {
  background-color: grey;
  color: whitesmoke;
}

.nav-link:hover {
  text-decoration: underline;
}

#comp-img{
  width: 250px;
}

.menu-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.card {
  min-height: 100%;
}

.menu {
  margin-bottom: 75px;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

header {
  text-align: center;
}

main {
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
}

.specials {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.special-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
}

.about-us,
.contact {
  margin-bottom: 30px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}


/* Add more styling for other elements if needed */
